body{
    background: #000;
    color: #fff;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}
.container{
    border: 2px solid white;
    border-radius: 10px;
    min-width: 300px;
    max-width: 400px;
    height: 450px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    box-shadow: -1px 0px 239px 9px rgba(231, 8, 8, 0.75);
}
.contain{
    border: 2px solid red;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    margin: 50px auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    box-shadow: -1px -1px 10px 5px rgba(174, 101, 22, 0.75);
}
button{
    margin-block: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background: rgb(11, 224, 89);font-family: sans-serif;
}